.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/ssh2/**
!node_modules/asn1/**
!node_modules/bcrypt-pbkdf/**
!node_modules/safer-buffer/**
!node_modules/tweetnacl/**
example/**
example2/**
.cursor/**
.cursorignore
docs/**
grammars/**
AGENTS.md
**/*.log
.gitignore
tsconfig.json
tsconfig.*.json
vite*.config.ts
vite.shared.ts
src-ui/**
scripts/**
**/*.map
**/*.ts
src/test/**
