:root {
  --vscode-kit-foreground: var(--vscode-foreground);
  --vscode-kit-disabledForeground: var(--vscode-disabledForeground);
  --vscode-kit-descriptionForeground: var(--vscode-descriptionForeground);
  --vscode-kit-errorForeground: var(--vscode-errorForeground);
  --vscode-kit-buttonBackground: var(--vscode-button-background);
  --vscode-kit-buttonForeground: var(--vscode-button-foreground);
  --vscode-kit-buttonHoverBackground: var(--vscode-button-hoverBackground);
  --vscode-kit-buttonSecondaryBackground: var(--vscode-button-secondaryBackground);
  --vscode-kit-buttonSecondaryForeground: var(--vscode-button-secondaryForeground);
  --vscode-kit-buttonSecondaryHoverBackground: var(--vscode-button-secondaryHoverBackground);
  --vscode-kit-inputBackground: var(--vscode-input-background);
  --vscode-kit-inputForeground: var(--vscode-input-foreground);
  --vscode-kit-inputBorder: var(--vscode-input-border);
  --vscode-kit-inputPlaceholderForeground: var(--vscode-input-placeholderForeground);
  --vscode-kit-dropdownBackground: var(--vscode-dropdown-background);
  --vscode-kit-dropdownForeground: var(--vscode-dropdown-foreground);
  --vscode-kit-dropdownBorder: var(--vscode-dropdown-border);
  --vscode-kit-listActiveSelectionBackground: var(--vscode-list-activeSelectionBackground);
  --vscode-kit-listActiveSelectionForeground: var(--vscode-list-activeSelectionForeground);
  --vscode-kit-listHoverBackground: var(--vscode-list-hoverBackground);
  --vscode-kit-listFocusBackground: var(--vscode-list-focusBackground);
  --vscode-kit-listInactiveSelectionBackground: var(--vscode-list-inactiveSelectionBackground);
  --vscode-kit-sidebarBackground: var(--vscode-sidebar-background);
  --vscode-kit-sidebarForeground: var(--vscode-sidebar-foreground);
  --vscode-kit-panelBackground: var(--vscode-panel-background);
  --vscode-kit-panelBorder: var(--vscode-panel-border);
  --vscode-kit-badgeBackground: var(--vscode-badge-background);
  --vscode-kit-badgeForeground: var(--vscode-badge-foreground);
  --vscode-kit-tabActiveBackground: var(--vscode-tab-activeBackground);
  --vscode-kit-tabInactiveBackground: var(--vscode-tab-inactiveBackground);
  --vscode-kit-tabActiveForeground: var(--vscode-tab-activeForeground);
  --vscode-kit-scrollbarSliderBackground: var(--vscode-scrollbarSlider-background);
  --vscode-kit-scrollbarSliderHoverBackground: var(--vscode-scrollbarSlider-hoverBackground);
  --vscode-kit-scrollbarSliderActiveBackground: var(--vscode-scrollbarSlider-activeBackground);
  --vscode-kit-progressBarBackground: var(--vscode-progressBar-background);
  --vscode-kit-focusBorder: var(--vscode-focusBorder);
  --vscode-kit-editorBackground: var(--vscode-editor-background);
  --vscode-kit-editorForeground: var(--vscode-editor-foreground);
}
