:root {
  --vscode-kit-spacing-1: 2px;
  --vscode-kit-spacing-2: 4px;
  --vscode-kit-spacing-3: 6px;
  --vscode-kit-spacing-4: 8px;
  --vscode-kit-spacing-5: 12px;
  --vscode-kit-spacing-6: 16px;
  --vscode-kit-spacing-7: 20px;
  --vscode-kit-spacing-8: 24px;
  --vscode-kit-spacing-9: 32px;
  --vscode-kit-spacing-10: 40px;
}
